forgot-password {
  .email-list {
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0px 20px;
  }

  .confirm-btn {
    width: 90vmin;
    margin: auto;
    margin-top: 13px;
  }

  .email-form {
    margin-top: 3%;
  }

  .token-form {
    margin-top: 30%;
  }
}
