ask-friends {
  .floating-close-button {
    position: absolute;
    top: 20px;
    left: 10px;
    width: auto;
    font-size: 1.7rem;
    z-index: 200;
    border-radius: 4px;
    font-weight: bold;
    color: #ff862a;
    background: #fff;
    padding: 0 10px 0 10px;
    border: 1px solid #ff862a;
    min-height: 3.2rem;
    line-height: 1.7;
    font-weight: 300;
    &:before {
      content: "\f3cf";
      font-family: "Ionicons";
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      line-height: 1;
      text-rendering: auto;
      text-transform: none;
      speak: none;
      font-size: 2.8rem;
      top: 4px;
      position: relative;
      padding-right: 3px;
    }
  }

  ion-searchbar {
    margin-top: 85px;
  }

  .orange-border {
    border: 1px solid $chillter-col;
  }
  /* Remove the last bottom border */
  .list-ios>.item-block:last-child,
  .list-ios>.item-wrapper:last-child .item-block {
    border-bottom: 0;
  }
  /* Remove the first top border */
  .list-ios>.item-block:first-child {
    border-top: 0;
  }

  .checkbox-ios {
    .checkbox-checked {
      background-color: #5eb63b;
      border-color: #5eb63b;
      width: 30px;
      height: 30px;
      .checkbox-inner {
        width: 10px;
        height: 15px;
        left: 9px;
      }
    }
    .checkbox-icon {
      width: 30px;
      height: 30px;
    }
  }
}

#ok {
  color: #ff862a;
  font-size: 1.7rem;
  float: right;
  background: white;
  padding: 15px;
}
